.site-footer {
  @include span-columns(12);
  @include omega();
  color: #fff;
  text-align: center;
  background-color: $primary;
  font-size: 15px;
  padding-top: $gutter;
  width: 100%;
    
  img {
    width: 3.5em;
    margin-bottom: 1em;
  }

  h5 {
    font-family: 'Lato', sans-serif;
    letter-spacing: .05em;
    text-transform: uppercase;
  }
    
  p {
    color: darken($primary, 15%);
      
    a {
      color: darken($primary,15%);
      transform: color ease .5s;
      text-decoration: underline;
        
        &:hover {
          color: darken($primary, 30%);
        }
    }
  }

  div {
    overflow: hidden;
  }
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $gutter / 2;
}

.footer-details-site {
  @include span-columns(4 of 12);
  @include media($small) {
    @include span-columns(4)
  }
}

.footer-details-social {
  @include span-columns(4 of 12);
  @include pad();
  @include media($small) {
    @include span-columns(4)
  }
}

.footer-details-description {
  @include span-columns(4 of 12);
  @include media($small) {
    @include span-columns(4)
  }
}
