<div class="hero">
  <div class="hero-nav-bar wrapper">
      <div class="logo-spot">
          <a href="{{ site.url }}"><img src="assets/img/logo-white.png" alt="Jordan Barhorst - Cincinnati Web Design"></a>
      </div>
       <nav class="site-nav wrapper">
              <ul>
                  <li><a class="js-menu-trigger sliding-panel-button">Menu</a></li>
              </ul>
      </nav>
  </div>
  <div class="hero-content wrapper">
      <img src="assets/img/jordan-circle.png" alt="Jordan Barhorst - a Cincinnati Web Designer">
      <h1>Hey, I'm Jordan</h1>
      <h2>I’m a front end web designer and developer from <span class="big-break"><br /></span><span class="bold-italic">Cincinnati, Ohio.</span></h2>
      <a class="white hollow-button">Check out some stuff I've made</a>
  </div>
</div>


<!-- for menu, when ready 


{% for page in site.pages %}{% if page.title %}
        <li class="page-link"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
      {% endif %}{% endfor %}
      
     -->