.post-content {
  margin: 5em 0;
    
    h2 {
        color: $primary;
        font-size: 2.5em;
        text-align: center;
        font-weight: 700;
    }
    
    p {
        line-height: 1.8em;
        font-size: 1.2em;
        
        &.caption {
            font-size: .9em;
            font-color: lighten($base-font-color, 40%);
            font-style: italic;
            margin-bottom: 4em;
        }
    }
    
    img {
        margin-top: 3.5em;
    }
}

