.post-content {
  margin: 2em 0;
    
    h2 {
        color: $primary;
        text-transform: uppercase;
        font-family: $tallow;
    }
    
    p {
        line-height: 1.4em;
        font-size: 1em;
    }
}

